.select .main {
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    min-width: 60px;

}

.items {
    position: absolute;
    border: 1px solid red;
    padding: 5px;
}

.item.select {
    background-color: #1ea7fd;
    color: white;
}
